<div class="main-menu">
    <div class="menu">
        <div><a href="@Url.Action("BroccoliOffer", "Home")">Калькулятор Брокколи</a></div>
        <div class="last"><a href="@Url.Action("ContactUs", "Home")">Свяжитесь с нами</a></div>
    </div>
</div>