<div class="cabinet-menu">
	<span class="item">Баланс</span>
	<span class="item">Начисления</span>
	<span class="item">Промо</span>
	<span class="item">Список клиентов</span>
	<span class="item">Статистика</span>
</div>