@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/main.js")"></script>
}


<div class="banner small">
    <div class="action">
        <font>Восстановление пароля</font>
    </div>
</div>
<div class="center-content">
    <div>
        <div class="box password-sent">
            <fieldset class="boxBody">
                <label>Вам отправлен новый пароль на Ваш email.</label>
                @Html.Hidden("isLoginPage", true)
            </fieldset>
            <footer>
                <a href="@Url.Action("LogOn", "Account")">
                    <button class="green-button btnLogin">Вход</button>
                </a>
            </footer>
        </div>
    </div>
</div>