@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="banner small">
    <div class="action">
        <font>Администрирование</font>
    </div>
</div>

<div class="center-content admin">
    <a href="@Url.Action("CommentsPanel", "Admin")">Комментарии</a>
    <a href="@Url.Action("Users", "Admin")">Пользователи</a>
</div>