    <div id="credits">  
        <span class="poweredby">@T("Powered by <a href=\"{0}\" target=\"_blank\">Marco Siniscalco</a>", "http://www.marcosiniscalco.com")</span>      
        <br />
        <span class="copyright">&#169; @T("<a href=\"{0}\" target=\"_blank\">Mango Theme 2011</a>", "http://mangotheme.codeplex.com/")</span>
    </div>