@{
    ViewBag.Title = "Свяжитесь с нами";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="banner small">
    <div class="action">
        <font>Свяжитесь с нами</font>
    </div>
</div>

<div class="center-content broker-info">
    
</div>