@{
    ViewBag.Title = "Broccoli Trade";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section head {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/index.js")"></script>
}

<div class="banner">
    <div class="slider">
        <img class="broccoli" src="@Url.Content("~/Content/img/broccoli.png")"/>
        <div class="text">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
<div class="main">
    <div class="center-content">
        <div class="instructions">
            <h3>Схема работы. Видео инструкция:</h3>
        </div>
    </div>
</div>