@{
    ViewBag.Title = "Партнерам";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="banner small">
    <div class="action">
        <font>Партнерская программа</font>
    </div>
</div>

<div class="center-content partners">
    <p>Предлагаем Вашему вниманию партнёрскую программу, с помощью которой Вы сможете привлекать клиентов к нам на сайт, и зарабатывать по 3000$ за каждых 100 клиентов.</p>
    <br/>
    <p style="line-height: 26px;">
        Вы регистрируетесь у нас в партнёрской программе.<br/>
        Приглашаете клиентов к нам на сайт<br/>
        Клиент пришедший по Вашей партнёрской ссылке, регистрируется у нас на сайте.<br/>
        Открывает реальный торговый счёт у брокера<br/>
        Пополняет свой счёт.<br/>
        Торгует с нашими торговыми системами на рынке Forex.<br/><br/>
    </p>
    <strong style="font-size: 26px;">Для того что бы принять участие в нашей партнёрской программе, Вам необходимо сделать следующее:</strong>
    <br/>
    <br/>
    <p>
        Заполнить краткую анкету и отправить её на почту: <strong>partner@broccoli-trade.ru</strong>
    </p>
    <br/>
    <p>
        <strong>АНКЕТА</strong><br/>
        Ваше имя:<br/>
        Ваш Email:<br/>
        Ваш номер телефона:<br/>
        Страна:<br/>
        Город:<br/>
    </p>
    <br/>
    <p>
        Каким образом будете привлекать клиентов к нам на сайт, варианты:
    </p>
    <br/>
    <ul style="font-size: 13px; list-style-type: square; line-height: 22px;">
        <li>Путём установки нашего баннера к Вам на сайт (у нас есть много красивых баннеров)</li>
        <li>Через социальные сети, и службы знакомств</li>
        <li>Через форумы</li>
        <li>Рекомендуя друзьям и знакомым</li>
        <li>Адрес вашего сайта (если есть)</li>
    </ul>
    <br/>
    <p>В течении суток на Вашу почту, придёт письмо с ссылкой на регистрацию в партнёрской программе.</p>
    <br/>
    <p style="color: red; font-weight: bold;">ВНИМАНИЕ! Партнёры использующие чёрные схемы продвижения - будут заблокированны.</p>
</div>