@{
    ViewBag.Title = "VPS";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="banner small">
    <div class="action">
        <font>Торгуй круглосуточно. VPS Сервера.</font>
    </div>
</div>

<div class="center-content vps">
    <div class="vps-info">
        <p>Для корректной работы советника торговый терминал должен быть включенным с открытия рынка до его закрытия. Если у Вас нет возможности держать компьютер в рабочем состоянии 24/5 - советуем использовать услугу VPS сервера.</p>
        <span class="button more">
            <a href="#" target="_blank"><input class="large" type="button" value="Подробнее у ForexInn" /></a>
        </span>
        <img src="@Url.Content("~/Content/img/depositphotos_1934943-Fitness-alarm-clock.png")"/>
    </div>
    <h4>Тарифы VPS</h4>
    <div id="pricing-table">
        <div class="plan plan1">
            <div class="price-header">Стартовый</div>   
            <ul>
                <li>RAM: <strong>256 Mb</strong></li>
                <li>HDD: <strong>15 Gb</strong></li>
                <li>CPU: <strong>500 MHz</strong></li>
                <li>RDP Access: <strong>+</strong></li>
            </ul>
            <a class="signup" href="#">Выбрать</a>         
        </div >
        <div class="plan plan3">
            <div class="price-header">Стандартный</div>
            <ul>
                <li>RAM: <strong>512 Mb</strong></li>
                <li>HDD: <strong>25 Gb</strong></li>
                <li>CPU: <strong>500 MHz</strong></li>
                <li>RDP Access: <strong>+</strong></li>
            </ul>
            <a class="signup" href="#">Выбрать</a>        
        </div>	
        <div class="plan plan2 popular-plan">
            <div class="price-header long">Профессиональный</div> 
            <ul>
                <li>RAM: <strong>1024 Mb</strong></li>
                <li>HDD: <strong>60 Gb</strong></li>
                <li>CPU: <strong>1000 MHz</strong></li>
                <li>RDP Access: <strong>+</strong></li>
            </ul>
            <a class="signup" href="#">Выбрать</a>            
        </div>
    </div>
    <div class="free-vps hr-shadow">
        <h4>Бесплатный VPS для клиентов ForexInn</h4>
        <table class="tariff grid">
            <thead>
                <tr>
                    <th>Торговый баланс клиента</th>
                    <th>Стартовый</th>
                    <th>Стандартный</th>
                    <th>Профессиональный</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>до 500$</td>
                    <td>10 USD</td>
                    <td>20 USD</td>
                    <td>40 USD</td>
                </tr>
                <tr>
                    <td>от 500$</td>
                    <td>5 USD</td>
                    <td>10 USD</td>
                    <td>20 USD</td>
                </tr>
                <tr>
                    <td>от 1000$</td>
                    <td><strong>Бесплатно</strong></td>
                    <td><strong>Бесплатно</strong></td>
                    <td><strong>Бесплатно</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
</div>