@{
    ViewBag.Title = "Брокеры";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="banner small">
    <div class="action">
        <font>Брокеры</font>
    </div>
</div>

<div class="center-content broker-info">
    <div class="pamm-offer">
        <table class="brokers-table">
            <tbody>
                <tr>
                    <td class="broker-column">
                        <img src="@Url.Content("~/Content/img/2_30.jpg")" />
                        <a target="_blank" href="http://fx-trend.com/new/home?agent=588607">Открыть счет</a>
                    </td>
                    <td>
                        <div class="help-description">Fx-trend:</div>
                        <div class="trader-summ">
                            <span id="small-fxtrend-1">
                                Автоматический вывод прибыли в день заявки (не более 2000$ в неделю) 
                                свыше 2000$ в неделю — вывод в течении 7 рабочих дней
                            </span>
                        </div>
                        <div class="trader-remark">Регистрируйтесь и открывайте счета по нашим партнерским ссылкам</div>
                    </td>
                </tr>
                <tr>
                    <td class="broker-column">
                        <img src="@Url.Content("~/Content/img/mmcis-logo.png")" />
                        <a target="_blank" href="https://ru.forex-mmcis.com/index_top_promo.html?ref=118253">Открыть счет</a>
                    </td>
                    <td>
                        <div class="help-description">MMCIS:</div>
                        <div id="small-mmcis" class="summ"></div>
                        <div class="trader-summ">
                            <span id="small-mmcis-1">Вывод средств в течении 7 рабочих дней</span>
                        </div>
                        <div class="trader-remark">Регистрируйтесь и открывайте счета по нашим партнерским ссылкам</div>
                    </td>
                </tr>
                <tr>
                    <td class="broker-column">
                        <img src="@Url.Content("~/Content/img/panteon_logo.jpg")" />
                        <a target="_blank" href="http://panteon-finance.com/newMember/7138.html">Открыть счет</a>
                    </td>
                    <td>
                        <div class="help-description">Panteon Finance:</div>
                        <div id="small-panteon" class="summ"></div>
                        <div class="trader-summ">
                            <span id="small-panteon-1">Вывод средств в течении 6 рабочих дней</span>
                        </div>
                        <div class="trader-remark">Регистрируйтесь и открывайте счета по нашим партнерским ссылкам</div>
                    </td>
                </tr>
                <tr>
                    <td class="broker-column">
                        <img src="@Url.Content("~/Content/img/broker-logo.png")" />
                        <a target="_blank" href="http://www.forexinn.ru/register/a/broccoli">Открыть счет</a>
                    </td>
                    <td>
                        <div class="help-description">ForexInn:</div>
                        <div id="small-forexinn" class="summ"></div>
                        <div class="trader-summ">
                            <span id="small-forexinn-1">В среднем вывод средств в день заявки</span>
                        </div>
                        <div class="trader-remark">Регистрируйтесь и открывайте счета по нашим партнерским ссылкам</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>