@{
    ViewBag.Title = "Спасибо!";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

<div class="banner small">
    <div class="action">
        <font>Спасибо!</font>
    </div>
</div>

<div class="center-content contact-success">
    <h3>Спасибо! Мы свяжемся с Вами в ближайшее время</h3>
    <img src="@Url.Content("~/Content/img/w512h5121350249248email.jpg")" />
</div>