/*
Role: Accent
Accent Color: #0072c6 - Blue
Author: Marco Siniscalco
Copyright: 2012, Marco Siniscalco. All Rights Reserved
Project Site: http://orchardmetrotheme.codeplex.com/
***************************************************************/

/* 
    GENERAL
***************************************************************/
a { color: #0072c6; }
    a.btn {
        padding:8px 10px 8px 10px;
        background:#0072c6; 
        color:#fff; 
    }
    a.btn:hover {
        padding:8px 10px 8px 10px;
        background:#005695; 
        color:#fff; 
    }

/* 
    FORMS
***************************************************************/
input[type="submit"],
input[type="button"] { 
    background:#0072c6; 
    color:#fff; 
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background:#005695;
    color:#fff;
}

.primaryAction { 
    padding:8px 10px 8px 10px;
    background:#0072c6; 
    color:#fff; 
    border:1px solid #0072c6;
    cursor: pointer;
}
.primaryAction:hover { 
    padding:8px 10px 8px 10px;
    background:#005695; 
    color:#fff; 
    border:1px solid #005695;
}

/* 
    LAYOUTS
***************************************************************/
#layout-navigation nav ul li:hover,
#layout-navigation nav ul li.current {
    background: #0072c6;

}
    #layout-navigation nav ul li:hover a,
    #layout-navigation nav ul li.current a {
        color: #fff;
    }

/* 
    TAGS
***************************************************************/
.tags a { background:#0072c6; color:#fff; }
.tags a:hover { background:#005695; }

/* 
    PAGER
***************************************************************/
.pager a  { background:#0072c6; color:#fff;  }
.pager a:hover { background:#0072c6; }

/* 
    UTILITY
***************************************************************/
.highlighted { background:#0072c6; color:#fff; font-family:Menlo,Monaco,Consolas,"Courier New",monospace; padding: 1px; }

.well { }

.hero-unit {
    background-color: #0072c6; 
    color: #fff;
}
.hero-unit a { 
    background: #005695; 
    color:#fff;
    padding: 0 5px 0 5px;
    font-weight: bold; 
}
.hero-unit a:hover { 
    color: #0072c6; 
    background: #fff; 
}
.hero-unit a.btn,
.hero-unit a.btn:hover { 
    color: #fff;
    background:url('Blue/little-right-metro-arrow-white.png') right 8px Transparent no-repeat; 
    padding: 0 25px 0 0; 
    font-size: 22px; 
    font-weight: bold; 
}