@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Main/main.js")"></script>
}


<div class="banner small">
    <div class="action">
        <font>Восстановление пароля</font>
    </div>
</div>
<div class="center-content">
    <div style="margin-top: 30px;">
        @if (ViewBag.Error != null)
        {
            <div class="error-message">@ViewBag.Error</div>   
        }
        @using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post, new { @id = "recoveryForm", @class = "box password-recovery" }))
        {
            <fieldset class="boxBody">
                <label>Введите Ваш <strong>email</strong>.</label>
                <input id="email" name="email" type="text" placeholder="email">
                <label>На указанный Вами email будет отправлен пароль.</label>
                @Html.Hidden("isLoginPage", true)
            </fieldset>
            <footer>
                <button class="green-button btnLogin">Отправить</button>
            </footer>
        }
    </div>
</div>