/*
Role: Internet Explorer v6 Hack
Author: Marco Siniscalco
License: MIT
Copyright: 2012, Marco Siniscalco. All Rights Reserved
Project Site: http://orchardmetrotheme.codeplex.com/
***************************************************************/