/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	font: inherit;
	vertical-align: baseline;
	font-family: Segoe UI Light;
}
@-moz-document url-prefix()
{
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 80%;
	    font: inherit;
	    vertical-align: baseline;
	    font-family: Segoe UI;
        font-weight: lighter;
    }
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label[disabled="true"]{opacity:0.4;}
input[type="text"], input[type="password"], textarea, select {
    border: inset 0;
    border: 1px solid darkGray;
    border-radius: 3px; 
    -moz-border-radius: 3px; /* Firefox */ 
    -webkit-border-radius: 3px; /* Safari, Chrome */ 
    -khtml-border-radius: 3px; /* KHTML */ 
    behavior: url(ie-css3.htc);
    outline: none;
}
input[type="text"], input[type="password"] {
    height: 22px;
}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    border: 1px solid #74ca35;
}
input[type="text"]:focus, input[type="password"]:hover, textarea:focus {
    border: 1px solid #74ca35;
}
/*end reset css*/

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

body a  {color: #272727; cursor: pointer; text-decoration:underline;font-size:14px;}
body a:link {color: #272727; cursor: pointer; text-decoration:underline;font-size:14px;}
body a:visited{color: #272727;font-size:14px;text-decoration:underline;}
body a:hover{color: black;text-decoration:none;font-size:14px;}
body a:active {color: black;text-decoration:none;font-size:14px;}

hr {
    margin: 0 -2em 2.5em -2em;
    clear: both;
    background: #bcbcbc; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #bcbcbc 10%, #bcbcbc 90%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(10%,#bcbcbc), color-stop(90%,#bcbcbc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%,#bcbcbc 10%,#bcbcbc 90%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%,#bcbcbc 10%,#bcbcbc 90%,#ffffff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%,#bcbcbc 10%,#bcbcbc 90%,#ffffff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #ffffff 0%,#bcbcbc 10%,#bcbcbc 90%,#ffffff 100%); /* W3C */
    border: none;
    height: 1px;
}

.opacity {
    position: absolute;
    background-color: #222222;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 150;
}

.header {
    margin-left: auto;
    margin-right: auto;
    height: 241px;
    position: relative;
}

.small {
    height: 132px;
}

.header .green-line {
    height: 8px;
    background-color: #609949;
}

.header .green-line .logo-container {
    width: 917px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.header .green-line .logo-container .logo-text {
    position: absolute;
    margin-left: 30px;
    margin-top: 50px;
    z-index: 2;
    font-family: 'GeoSlb712CMdBTBold'!important;
    color: white;
    font-size: 28px;
    text-align: center;
    z-index: 101;
}

.header .gray-line {
    height: 66px;
    background-color: #333333;
}

.header .gray-line .menu {
    
}

.header .light-line {
    height: 43px;
    background-color: #F3F3F3;
    padding-top: 19px;
}

.header .light-line .secondary-menu {
    width: 917px;
    margin-left: auto;
    margin-right: auto;
}

.header .light-line .secondary-menu .menu {
    float: right;
}

.header .light-line .secondary-menu .menu .item {
    padding-left: 50px;
    font-family: Segoe UI;
    color: #2E2E2E;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.header .light-line .secondary-menu .menu .item:hover {
    color: #98cb66;
}

.header .light-line .secondary-menu .menu #loginBtn {
    display: block;
}

.header .light-line .secondary-menu .first {
    margin-left: 200px;
}

.header .white-line {
    height: 108px;
    background-color: #FFFFFF;
}

.header .white-line .steps {
    width: 917px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 45px;
}

.header .white-line .steps .step {
    font-family: Segoe UI Light;
    color: #2E2E2E;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.header .white-line .steps .step:hover {
    color: #98cb66;
}

.header .white-line .steps .first {
    margin-left: 200px;
}

.header .logo-flag {
    position: absolute;
    top: 0px;
    z-index: 100;
}

.content {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
}

.content .center-content {
    width: 917px;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
}

.content .banner {
    height: 373px;
    background: url('img/slider-background.png') no-repeat center top;
    position: relative;
}

.content .small {
    height: 105px;
    background-position: center top;
}

.content .banner .slider {
    width: 917px;
    margin-left: auto;
    margin-right: auto;
}

.content .banner .slider .broccoli {
    margin-top: 30px;
    position: absolute;
}

.content .banner .slider .text {
    width: 430px;
    margin-right: 50px;
    margin-top: 100px;
    float: right;
}

.content .banner h2 {
    font-family: 'GeoSlb712CMdBTBold'!important;
    color: #FFFFFF;
    font-size: 33px;
    margin-bottom: 10px;
}

.content .banner p {
    font-family: Segoe UI Light;
    color: #FFFFFF;
    font-size: 18px;
}

.content .banner.small .action {
    width: 917px;
    margin-left: auto;
    margin-right: auto;
}

.content .banner.small .action font {
    font-family: Segoe UI Light;
    color: #FFFFFF;
    font-size: 30px;
    float: right;
    margin-top: 33px;
}

.content .main {
    width: 917px;
    margin-left: auto;
    margin-right: auto;
}

.content .main h3 {
    font-family: Segoe UI Light;
    color: #2E2E2E;
    font-size: 30px;
}

.content .main .instructions {
    margin: 10px;
    height: 600px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    height: 233px;
    background: url('img/footer.png') repeat-x;
}

.green-button {
    background: url("img/generic-button-green-bg.png") repeat-x scroll left top transparent;
    border: 1px solid #3AA526;
    color: white;
    font-family: Segoe UI;
    font-size: 18px;
    height: 29px;
    width: 186px;
    cursor: pointer;
    border-radius: 3px;
}

.green-button:hover {
    background: url("img/generic-button-green-bg.png") repeat-x scroll left bottom transparent;
}

.green-button:active {
    background: url("img/generic-button-green-bg.png") repeat-x scroll left center transparent;
}

.register-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
}

.register-form h2 {
    font-weight: bold;
}

.register-form .labels {
    width: 150px;
}

.register-form .labels label {
    font-family: Segoe UI Light;
    color: #2E2E2E;
    font-size: 14px;    
}

.register-form input {
    width: 200px;
}

.register-form td {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.bad
{
    background-color: #FBF8E9;
}

.register-form .agreeement {
    margin-top: 20px;
}

.register-form .agreeement p {
    font-family: Segoe UI Light;
    color: #2E2E2E;
    font-size: 18px;
    margin-bottom: 5px;
}

.register-form .agreeement textarea {
    width: 378px;
    outline: none;
    resize: none;
    text-align: left;
}

.register-form .agreeement textarea:hover {
    border: 1px solid #74ca35;
}

.register-form .agreeement textarea:active {
    border: 1px solid #74ca35;
}


.register-form .register-button {
    width: 390px;
    margin-top: 20px;
}

.login-window {
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 200;
    top: 17px;
    left: -75px;
    cursor: default;
    font-family: Segoe UI Light;
    color: #2E2E2E;
    font-size: 14px;
}

.login-window .triangle-top {
    background: url('img/tiangle-top.png') no-repeat;
    width: 56px;
    height: 22px;
    z-index: 7;
    position: absolute;
    left: 120px;
    top: -2px;
}

.login-window .login-window-body {
    background: white;
    display: block;
    border: 1px solid #E5E5E5;
    border-top: none;
    box-shadow: 0 0 9px 2px #E5E5FA;
    position: relative;
    top: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.login-window .login-window-body label {
    font-size: 14px;
}

.login-window .login-window-body .labels {
    width: 80px;
    margin-top: 5px;
}

.login-window .login-window-body .indent {
    height: 5px;
}

.login-window .login-window-body #loginForm {
    width: 215px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.login-window .login-window-body #loginForm .controls {
    width: 130px;
    height: 20px;
    float: right;
}

.login-window .login-window-body #loginForm a {
    float: right;
}

.login-window .login-window-body #loginForm label {
    vertical-align: middle;
}

.login-window .login-window-body #loginForm button {
    width: 100%;
}

.cabinet-menu {
    width: 20%;
}

.cabinet-menu h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: Segoe UI;
    cursor: default;
    color: #98cb66;
}

.cabinet-menu h5 {
    margin-bottom: 5px;
}

.cabinet-menu h5:hover {
    color: #98cb66;
    cursor: pointer;
}

.cabinet-menu .notifications-count {
    color: #98cb66;
    font-family: Segoe UI;
    display: inline;
}

.cabinet-main {
    width: 80%;
    padding-top: 25px;
    padding-left: 90px;
}

.cabinet-main #activateForm table tr {
    height: 40px;
}

.cabinet-main #activateForm table .labels {
    width: 200px;
}

.cabinet-main #activateForm table .inputs {
    width: 215px;
}

.cabinet-main #activateForm table .inputs button {
    width: 100%;
}

.cabinet-main #activateForm table input {
    width: 210px;
}

.cabinet-main #activateForm table select {
    height: 30px;
    padding: 5px;
    width: 210px;
    outline: none;
}

.cabinet-main #accountsTable {
    *border-collapse: collapse; /* Для IE7 и старше */
    border-spacing: 0;
    width: 100%;
}

.grid {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.grid tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.grid td, .grid th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.grid th {
    background-color: #2c6223;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a2d26b), to(#2c6223));
    background-image: -webkit-linear-gradient(top, #a2d26b, #2c6223);
    background-image:    -moz-linear-gradient(top, #a2d26b, #2c6223);
    background-image:     -ms-linear-gradient(top, #a2d26b, #2c6223);
    background-image:      -o-linear-gradient(top, #a2d26b, #2c6223);
    background-image:         linear-gradient(top, #a2d26b, #2c6223);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    color: white;
}

.grid td:first-child, .grid th:first-child {
    border-left: none;
}

.grid th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.grid th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.grid tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.grid tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.grid .broker {
    padding-left: 40px;
}

/* Custom styles */
.grid .broker .logo-container {
    position: relative;
    width: 30px;
}

.grid .broker .logo-container .broker-logo {
    position: absolute;
    top: -7px;
    left: -35px;
}

.grid .status {
    
}

.cabinet-main .error-message {
    color: #900;
}

.invite-list {
    width: 630px;
    margin: 10px 0 10px 0;
}

.invite-list th {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
}

.invite-list td {
    padding: 10px 0;
}

.invite-list td:first-child {
    text-align: center;
    padding-left: 20px;
    padding-right: 10px;  
}

.invite-list .inputs {
    padding-left: 10px;
    padding-right: 10px;
}

.invite-list .for-img {
    position: relative;
    height: 18px;
    float: left;
}

.invite-list .deleteAssignedUserBtn {
    position: absolute;
    top: 2px;
    right: 3px;
    cursor: pointer;
}

.invite-list .clearAssignedUserBtn {
    position: absolute;
    top: 2px;
    right: 3px;
    cursor: pointer;
}

.invite-list input {
    width: 240px;
}

.container {
    overflow: hidden;
    min-height: 500px;
    -webkit-min-height: 500px;
    position: relative;
    width: 630px;
}

.alt-way-container {
    width: 630px;
    margin: 0;
    position: absolute;
    top: -550px;
    -webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.alt-way-container  #sendInvites {
    float: right;
    margin-top: 20px;
}

.alt-way-container .subject {
    width: 628px;
    margin-bottom: 10px;
}

.alt-way-container textarea {
    width: 624px;
    resize: none;
}

.alt-way-container #addUser {
    cursor: pointer;
    margin-bottom: 20px;
}

.alt-way-container #addUser:hover {
    color: #98cb66;
}

.social-networks {
    width: 100%;
    display: inline-block;
}

.social-networks .buttons {
}

#showAltWayContainer {
    cursor: pointer;
}

#showAltWayContainer:hover {
    color: #98cb66;
}

/* FF чтоб его! */
@-moz-document url-prefix()
{
    .content .banner p {
        font-family: Segoe UI;
        font-weight: lighter;
        color: #FFFFFF;
        font-size: 18px;
    }

    .content .main h3 {
        font-family: Segoe UI;
        font-weight: lighter;
        color: #2E2E2E;
        font-size: 30px;
    }

    .header .white-line .steps .step {
        font-family: Segoe UI;
        font-weight: lighter;
        color: #2E2E2E;
        font-size: 20px;
        margin-left: 30px;
        cursor: pointer;
    }

    .content .banner.small .action font {
        font-family: Segoe UI;
        font-weight: lighter;
        color: #FFFFFF;
        font-size: 30px;
        float: right;
        margin-top: 33px;
    }

    .register-form .agreeement p {
        font-family: Segoe UI;
        font-weight: lighter;
        color: #2E2E2E;
        font-size: 18px;
    }

    .register-form .labels label {
        font-family: Segoe UI;
        font-weight: lighter;
        color: #2E2E2E;
        font-size: 14px;    
    }

    .alt-way-container textarea {
        width: 628px;
        resize: none;
    }
}

@font-face {
    font-family: 'GeoSlb712CMdBTBold';
    src: url('fonts/geoslabinch-bold-webfont.eot');
    src: url('fonts/geoslabinch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geoslabinch-bold-webfont.woff') format('woff'),
         url('fonts/geoslabinch-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.info {
    text-align: left;
    padding: 5px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Verdana;
}
.error {
        background: #f60000;
        border: 3px solid #d50000;
}
.correct {
        background: #56d800;
        border: 3px solid #008000;
}
.wrong {
        color: #e90000;
}
.normal {
        font-weight: normal;
        color: #222;
}


.mrg-top-bottom20 {
    margin-top: 20px;
    margin-bottom: 20px;
}