<div class="main-menu">
    <div class="menu">
        <div><a href="#">УТП</a></div>
        <div><a href="@Url.Action("BrokerInfo", "Home")">Брокер ForexInn</a></div>
        <div><a href="#">Торгуй круглосуточно</a></div>
        <div><a href="#">Вопрос-ответ</a></div>
        <div class="last"><a href="#">Свяжитесь с нами</a></div>
    </div>
</div>